* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding: 20px 0;
}

.list {
    width: 500px;
    border: 2px solid rgb(114, 114, 114);
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px auto 0 auto;
}

.list th,td{
    text-align: left;
    padding: 10px;
}

.list th:last-child, td:last-child{
    width: 20px;
    text-align: center;
}

.list thead{
    background-color: #C0C2C4;
}

.list tbody tr:hover{
    background-color: #CFD2D4;
}

.delete-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 999;
}

.delete-button:hover {
    filter: contrast(3);
}

.form {
    box-sizing: border-box;
    width: 500px;
    border: 2px solid rgb(114, 114, 114);
    margin: 0 auto;
    padding: 10px;
}

.form-label{
    color: black;
    font-size: large;
}

.form-input {
    margin-top: 8px;
    height: 20px;
}

.form-opt {
    height: 24px;
}

.form-date {
    height: 20px;
    text-align: center;
}

.form-button {
    font-weight: bold;
    border: 0px;
    border-radius: 1px;
    color: #272B29;
    background-color: #A99BFF;
    height: 24px;
    width: 50px;
    cursor: pointer;
}

.form-button:hover{
    background-color: #887be0;
}